.leftBtn{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 420px;
    left: 24px;
    border-radius: 50%;
}
.rightBtn{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 420px;
    right: 24px;
    border-radius: 50%;
   
}

.leftBtn img{
    transform: rotate(180deg);
}